sudo: required
dist: trusty
language: node_js
node_js:
  - "7"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
      - google-chrome-beta

before_install:
  - npm i -g makeshift && makeshift -s @systelab-tecnologies -r https://registry.npmjs.org
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - npm install -g codecov
  - npm install -g codacy-coverage
  - npm install
  - ng build

script:
  - ng test --single-run --code-coverage

after_success:
  - cat coverage/lcov.info | codecov
  - cat ./coverage/lcov.info | codacy-coverage
  
deploy:
  provider: npm
  email: aserra@werfen.com
  api_key: $NPM_TOKEN
  on:
    tags: true
